*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



.header{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 70px;
}
.menu{
    flex: 1;
    text-align: right;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.menu ul li a{
    color: #000000;
    text-decoration: none;
    font-size: 13px;
}
.menu ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu ul li:hover::after{
    width: 100%;
}
.titulo_sobre h1{
    font-size: 50px;
    text-align: center;
}
.titulo_sobre p{
    font: 10px;
    text-align: center;
}
.historia{
    padding: 50px 12%;
    font-size: 17px;
}
.bloco_hist{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.texto_hist{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img_bloco{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img_bloco img{
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 10%;
}
.historia h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}
.botao_vermais{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn_vermais{
    text-align: center;
    margin: auto;
}
.botao_vermais:hover{
    color: #fff;
    border: 1px solid #000000;
    background: #000000;
    transition: 0.5s;
}



footer{
    background: #000000;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
    text-align: center;
}
.footer_conteudo{
    display: flex;
    flex-direction: column;
}
.footer_conteudo h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer_conteudo p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.redes li{
    margin: 0 10px;
}
.redes a{
    text-decoration: none;
    color: #fff;
}
.redes a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.facebook:hover{
    color: #3b5998;
}
.instagram:hover{
    color: #c8788a;
}
.linkedin:hover{
    color: #2172e1;
}
.youtube:hover{
    color: #f00104;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
}
.footer_nomes p{
    font-size: 14px;
    word-spacing: 2px;
}
.footer_nomes span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}